.conteyner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.teams{
    margin-top: 10px;
    width: 600px;
    height: 600px;
    border: 5px solid bisque;
    background-color: rgb(225, 167, 67);
    text-align: center;
}